# dependencies
node_modules
.pnpm

# build output
dist
out
.next
*/.next

# misc
.DS_Store
*.pem
.idea

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env.local
.env.test

# test & docs
coverage
docs-build

# vercel
.vercel

# custom
journal
zcom.md

# playwright
test-results
playwright-report
playwright
